/*
Error: Invalid CSS after "		display: block": expected "{", was ";"
        on line 57 of /Users/muslih/Documents/project/bappeda-tanahlaut/scss/style/_responsive.scss
        from line 8 of /Users/muslih/Documents/project/bappeda-tanahlaut/scss/style.scss

52: 		
53: 			
54: =======
55: >>>>>>> 43bd9781b59280881ec12ed5119cd0127d098de3
56: 		// height: auto;
57: 		display: block;
58: 		margin-bottom: 10px;
59: 
60: 		a {		
61: 			padding: 15px 20px;
62: 			display: block;

Backtrace:
/Users/muslih/Documents/project/bappeda-tanahlaut/scss/style/_responsive.scss:57
/Users/muslih/Documents/project/bappeda-tanahlaut/scss/style.scss:8
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-compass-1.1.0/lib/guard/compass.rb:140:in `perform'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-compass-1.1.0/lib/guard/compass.rb:123:in `run_on_change'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:74:in `block in run_supervised_task'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:71:in `catch'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:71:in `run_supervised_task'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:119:in `block in _run_first_task_found'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:117:in `each'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:117:in `_run_first_task_found'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:53:in `block in run_on_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:150:in `block (3 levels) in _scoped_plugins'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:148:in `each'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:148:in `block (2 levels) in _scoped_plugins'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:147:in `catch'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:147:in `block in _scoped_plugins'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:145:in `each'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:145:in `_scoped_plugins'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:46:in `run_on_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/setuper.rb:296:in `block (2 levels) in _listener_callback'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/commander.rb:108:in `block in within_preserved_state'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/commander.rb:105:in `synchronize'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/commander.rb:105:in `within_preserved_state'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/setuper.rb:295:in `block in _listener_callback'
/Users/muslih/.rvm/gems/ruby-2.1.2@global/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/Users/muslih/.rvm/gems/ruby-2.1.2@global/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2@global/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2@global/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/Users/muslih/.rvm/gems/ruby-2.1.2@global/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2@global/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"		display: block\": expected \"{\", was \";\"\A         on line 57 of /Users/muslih/Documents/project/bappeda-tanahlaut/scss/style/_responsive.scss\A         from line 8 of /Users/muslih/Documents/project/bappeda-tanahlaut/scss/style.scss\A \A 52: 		\A 53: 			\A 54: =======\A 55: >>>>>>> 43bd9781b59280881ec12ed5119cd0127d098de3\A 56: 		// height: auto;\A 57: 		display: block;\A 58: 		margin-bottom: 10px;\A 59: \A 60: 		a {		\A 61: 			padding: 15px 20px;\A 62: 			display: block;"; }
