/* line 2, ../scss/lib/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/* line 17, ../scss/lib/_normalize.scss */
audio, canvas, video { display: inline-block; }

/* line 23, ../scss/lib/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 29, ../scss/lib/_normalize.scss */
[hidden] { display: none; }

/* line 34, ../scss/lib/_normalize.scss */
html { background: #fff; /* 1 */ color: #000; /* 2 */ font-family: sans-serif; /* 3 */ -ms-text-size-adjust: 100%; /* 4 */ -webkit-text-size-adjust: 100%; /* 4 */ }

/* line 43, ../scss/lib/_normalize.scss */
body { margin: 0; }

/* line 48, ../scss/lib/_normalize.scss */
a:focus { outline: thin dotted; }

/* line 52, ../scss/lib/_normalize.scss */
a:active, a:hover { outline: 0; }

/* line 57, ../scss/lib/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/* line 62, ../scss/lib/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 66, ../scss/lib/_normalize.scss */
b, strong { font-weight: bold; }

/* line 71, ../scss/lib/_normalize.scss */
dfn { font-style: italic; }

/* line 75, ../scss/lib/_normalize.scss */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/* line 81, ../scss/lib/_normalize.scss */
mark { background: #ff0; color: #000; }

/* line 86, ../scss/lib/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/* line 94, ../scss/lib/_normalize.scss */
pre { white-space: pre-wrap; }

/* line 98, ../scss/lib/_normalize.scss */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 102, ../scss/lib/_normalize.scss */
small { font-size: 80%; }

/* line 106, ../scss/lib/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 114, ../scss/lib/_normalize.scss */
sup { top: -0.5em; }

/* line 118, ../scss/lib/_normalize.scss */
sub { bottom: -0.25em; }

/* line 122, ../scss/lib/_normalize.scss */
img { border: 0; }

/* line 126, ../scss/lib/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 130, ../scss/lib/_normalize.scss */
figure { margin: 0; }

/* line 134, ../scss/lib/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 140, ../scss/lib/_normalize.scss */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/* line 145, ../scss/lib/_normalize.scss */
button, input, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 2 */ margin: 0; /* 3 */ }

/* line 154, ../scss/lib/_normalize.scss */
button, input { line-height: normal; }

/* line 159, ../scss/lib/_normalize.scss */
button, select { text-transform: none; }

/* line 164, ../scss/lib/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/* line 172, ../scss/lib/_normalize.scss */
button[disabled], html input[disabled] { cursor: default; }

/* line 177, ../scss/lib/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/* line 183, ../scss/lib/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* line 190, ../scss/lib/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 195, ../scss/lib/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 201, ../scss/lib/_normalize.scss */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* line 206, ../scss/lib/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 20, ../scss/lib/_zeen.scss */
img { height: auto; max-width: 100%; }

/* line 25, ../scss/lib/_zeen.scss */
.bungkus { padding: 0 15px; position: relative; *zoom: 1; }
/* line 38, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.bungkus:after { content: ""; display: table; clear: both; }

/* line 33, ../scss/lib/_zeen.scss */
.baris { width: 100%; margin: 0 auto; position: relative; max-width: 978px; *zoom: 1; }
/* line 38, ../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.baris:after { content: ""; display: table; clear: both; }

/* line 46, ../scss/lib/_zeen.scss */
[class*="zeen"] { float: left; display: inline; min-height: 1px; position: relative; margin-left: 3.09091%; }
/* line 54, ../scss/lib/_zeen.scss */
[class*="zeen"]:first-child { margin-left: 0; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-1 { width: 5.5%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-2 { width: 14.09091%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-3 { width: 22.68182%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-4 { width: 31.27273%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-5 { width: 39.86364%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-6 { width: 48.45455%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-7 { width: 57.04545%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-8 { width: 65.63636%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-9 { width: 74.22727%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-10 { width: 82.81818%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-11 { width: 91.40909%; }

/* line 60, ../scss/lib/_zeen.scss */
.zeen-12 { width: 100%; }

/* line 2, ../scss/style/_general.scss */
body { font-family: "Arial",sans-serif; background: url('../img/bg-home.png?1438227325'); font-size: 14px; font-weight: 100; color: #858585; letter-spacing: -0.1px; line-height: 20px; }

/* line 13, ../scss/style/_general.scss */
h1, h2, h3, h4, a, ul, li, p { margin: 0; padding: 0; display: block; }

/* line 25, ../scss/style/_general.scss */
ul, li { display: block; margin: 0; padding: 0; }

/* line 32, ../scss/style/_general.scss */
a { text-decoration: none; color: #3f3f3f; display: block; }

/* line 38, ../scss/style/_general.scss */
h1 { font-size: 1.8em; }

/* line 39, ../scss/style/_general.scss */
h2 { font-size: 1.5em; }

/* line 40, ../scss/style/_general.scss */
h3 { font-size: 1.2em; }

/* line 47, ../scss/style/_general.scss */
article { margin-bottom: 20px; }

/* line 51, ../scss/style/_general.scss */
p { line-height: 20px; text-align: justify; }

/* line 56, ../scss/style/_general.scss */
marquee { display: block !important; }

/* line 60, ../scss/style/_general.scss */
.kanan { float: right; }

/* line 65, ../scss/style/_general.scss */
.kiri { float: left; }

/* line 1, ../scss/style/_main2.scss */
#main-menu { display: block; }

/* line 5, ../scss/style/_main2.scss */
#galeri { text-align: center; }
/* line 6, ../scss/style/_main2.scss */
#galeri li { display: inline-table; margin-right: 2px; }

/* line 13, ../scss/style/_main2.scss */
.slide-title { padding: 10px 15px; position: absolute; left: 0px; right: 0px; bottom: 0; height: auto; background: rgba(43, 82, 132, 0.6); z-index: 1; color: #ffffff; }
/* line 15, ../scss/style/_main2.scss */
.slide-title h2 { margin-bottom: 10px; display: block; }

/* line 32, ../scss/style/_main2.scss */
h2.title { padding: 5px 10px; color: #2B5284; border-left: solid 5px #3e9968; margin-bottom: 15px; }

/* line 40, ../scss/style/_main2.scss */
#produk-detail { text-align: center; }
/* line 41, ../scss/style/_main2.scss */
#produk-detail li { display: inline-table; padding: 5px; }

/*  BOX PENCARIAN  */
/* line 50, ../scss/style/_main2.scss */
input[type="text"], textarea { color: #858585; padding-left: 10px; outline: none; border: 0; border: 1px solid #DDDDDD; border-radius: 3px; }
/* line 58, ../scss/style/_main2.scss */
input[type="text"]:focus, textarea:focus { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -moz-box-shadow: 0 0 10px #FFcc00; -webkit-box-shadow: 0 0 10px #FFcc00; box-shadow: 0 0 10px #FFcc00; }
/* line 64, ../scss/style/_main2.scss */
input[type="text"].highlight, textarea.highlight { border: 1px solid #ffcc33; -moz-box-shadow: 0 0 1px #ffff00; -webkit-box-shadow: 0 0 1px #ffff00; box-shadow: 0 0 1px #ffff00; }

/* line 71, ../scss/style/_main2.scss */
input[type="text"] { width: 200px; height: 25px; outline: none; border: 0; border: 1px solid #DDDDDD; border-radius: 3px; }
/* line 80, ../scss/style/_main2.scss */
input[type="text"]:focus { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -moz-box-shadow: 0 0 10px #FFcc00; -webkit-box-shadow: 0 0 10px #FFcc00; box-shadow: 0 0 10px #FFcc00; }
/* line 86, ../scss/style/_main2.scss */
input[type="text"].highlight { border: 1px solid #ffcc33; -moz-box-shadow: 0 0 1px #ffff00; -webkit-box-shadow: 0 0 1px #ffff00; box-shadow: 0 0 1px #ffff00; }

/* line 93, ../scss/style/_main2.scss */
input[type=button] { color: #ffffff; font-size: 14px; padding: 14px; background: #3e9968; border: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
/* line 112, ../scss/style/_main2.scss */
input[type=button]:hover { background: #2f754f; }

/* line 116, ../scss/style/_main2.scss */
#pencarian { margin-top: 11px; position: absolute; top: 0px; right: 15px; }

/* line 124, ../scss/style/_main2.scss */
.text-input-cari { width: 200px !important; padding-left: 30px !important; background: #ffffff url("../img/search-icon.png") no-repeat 5px center; }

/* line 130, ../scss/style/_main2.scss */
.text-input { padding-left: 10px; }

/*  AKHIR BOX PENCARIAN  */
/* line 137, ../scss/style/_main2.scss */
.fixed { position: fixed; width: 100%; top: 0; z-index: 9999; -moz-box-shadow: 0 1px 4px #858585; -webkit-box-shadow: 0 1px 4px #858585; box-shadow: 0 1px 4px #858585; }

/* line 145, ../scss/style/_main2.scss */
#headline { margin: 0 15px; background: #2B5284; padding: 5px 20px; margin-bottom: 20px; color: #ffffff; }

/*  BAGIAN HEADER  */
/* line 153, ../scss/style/_main2.scss */
#header { color: #ffffff; padding: 25px 0; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxNWU5NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiNTI4NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #315e97), color-stop(100%, #2b5284)); background-image: -moz-linear-gradient(top, #315e97, #2b5284); background-image: -webkit-linear-gradient(top, #315e97, #2b5284); background-image: linear-gradient(to bottom, #315e97, #2b5284); border-bottom: 1px solid #254671; }
/* line 162, ../scss/style/_main2.scss */
#header img { float: left; width: 10%; margin-right: 15px; }
/* line 167, ../scss/style/_main2.scss */
#header .logo { top: 0; width: 50px; }
/* line 172, ../scss/style/_main2.scss */
#header h1 { padding-top: 15px; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); font-size: 24px; line-height: 20px; }
/* line 180, ../scss/style/_main2.scss */
#header h1 span { display: block; font-size: 14px; font-weight: 100; }

/*  AKHIR HEADER  */
/* line 190, ../scss/style/_main2.scss */
#main-menu { display: block; }

/*  NAVIGASI  */
/* line 195, ../scss/style/_main2.scss */
nav { display: block; border-bottom: solid 1px #254671; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxNWU5NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJiNTI4NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #315e97), color-stop(100%, #2b5284)); background-image: -moz-linear-gradient(top, #315e97, #2b5284); background-image: -webkit-linear-gradient(top, #315e97, #2b5284); background-image: linear-gradient(to bottom, #315e97, #2b5284); text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); color: #ffffff; }
/* line 203, ../scss/style/_main2.scss */
nav #resp-menu { display: none; }
/* line 207, ../scss/style/_main2.scss */
nav a { padding: 15px 20px; display: block; color: #ffffff; }
/* line 213, ../scss/style/_main2.scss */
nav ul { display: block; z-index: 999; }
/* line 222, ../scss/style/_main2.scss */
nav ul li { float: left; position: relative; display: block; }
/* line 228, ../scss/style/_main2.scss */
nav ul li a:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; background: #ffffff; color: #2B5284; }
/* line 235, ../scss/style/_main2.scss */
nav ul li:hover > ul { display: block; }
/* line 239, ../scss/style/_main2.scss */
nav ul li.active { background: #254671; }
/* line 244, ../scss/style/_main2.scss */
nav ul li ul { border-top: solid 1px #254671; white-space: nowrap; position: absolute; display: none; -moz-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.4); -webkit-box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.4); box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.4); }
/* line 253, ../scss/style/_main2.scss */
nav ul li ul li { float: none; border-bottom: 1px solid #315e97; }
/* line 256, ../scss/style/_main2.scss */
nav ul li ul li:last-child { border-bottom: 0; }
/* line 260, ../scss/style/_main2.scss */
nav ul li ul li a { background: #2B5284; padding: 10px 20px 10px 10px; }
/* line 265, ../scss/style/_main2.scss */
nav ul li ul li ul { border: none; white-space: nowrap; position: absolute; left: 100%; top: 0; }

/*  AKHIR NAVIGASI  */
/*  BAGIAN KONTEN BERITA */
/* line 286, ../scss/style/_main2.scss */
section a.read-more { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; float: right; font-size: .9em; color: #ffffff; margin-top: 5px; padding: 5px 10px; background: #386aaa; }
/* line 295, ../scss/style/_main2.scss */
section a.read-more:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; background-color: #2B5284; }
/* line 302, ../scss/style/_main2.scss */
section article { display: block; overflow: hidden; padding-bottom: 10px; border-bottom: 1px dashed #d2d2d2; clear: both; }
/* line 309, ../scss/style/_main2.scss */
section article:last-child { border-bottom: 0; margin-bottom: 0; }
/* line 314, ../scss/style/_main2.scss */
section article .tanggal-post { font-size: 12px; }
/* line 320, ../scss/style/_main2.scss */
section article h3 a { color: #2B5284; }
/* line 322, ../scss/style/_main2.scss */
section article h3 a:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; color: #858585; text-decoration: underline; }
/* line 331, ../scss/style/_main2.scss */
section article p { margin: 10px 0; }
/* line 335, ../scss/style/_main2.scss */
section article img { float: left; display: block; margin: 0px 10px 10px 0; }

/*  AKHIR KONTEN BERITA  */
/* BAGIAN ASIDE */
/* line 346, ../scss/style/_main2.scss */
.agenda { clear: both; overflow: hidden; display: block; padding: 20px 15px 10px 20px; }
/* line 348, ../scss/style/_main2.scss */
.agenda .item-agenda { padding-bottom: 5px; border-bottom: 1px dashed #e3e3e3; overflow: hidden; }
/* line 353, ../scss/style/_main2.scss */
.agenda .item-agenda:last-child { border-bottom: 0; margin-bottom: 0; padding-bottom: 0; }
/* line 367, ../scss/style/_main2.scss */
.agenda li { margin-bottom: 10px; }
/* line 372, ../scss/style/_main2.scss */
.agenda .kalender { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #9cb9df; clear: both; float: left; font-size: 12px; margin: 0 10px 10px 0; margin-bottom: 10px; overflow: hidden; text-align: center; width: 60px; color: #ffffff; }
/* line 384, ../scss/style/_main2.scss */
.agenda .kalender .hari { display: block; background: #2B5284; padding: 2px; margin-bottom: 2px; }
/* line 390, ../scss/style/_main2.scss */
.agenda .kalender .tanggal { font-size: 20px; font-weight: bold; display: block; }
/* line 395, ../scss/style/_main2.scss */
.agenda .kalender .bulan { display: block; }
/* line 400, ../scss/style/_main2.scss */
.agenda .detail-agenda { line-height: 25px; display: block; overflow: hidden; }
/* line 407, ../scss/style/_main2.scss */
.agenda .detail-agenda .acara a { line-height: 20px; color: #3e76be; }
/* line 410, ../scss/style/_main2.scss */
.agenda .detail-agenda .acara a:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; color: #2B5284; text-decoration: underline; }

/* line 420, ../scss/style/_main2.scss */
.box { overflow: hidden; background: #ffffff; margin-bottom: 20px; -moz-box-shadow: 1px 0 15px #c7c7c7; -webkit-box-shadow: 1px 0 15px #c7c7c7; box-shadow: 1px 0 15px #c7c7c7; }
/* line 421, ../scss/style/_main2.scss */
.box img { position: relative; top: 8px; left: 10px; float: left; }
/* line 432, ../scss/style/_main2.scss */
.box .judul-box { background: #2B5284; color: #ffffff; padding: 15px 50px 15px; border-bottom: 4px solid #3e9968; }
/* line 440, ../scss/style/_main2.scss */
.box .detail-box li { padding: 10px; }
/* line 443, ../scss/style/_main2.scss */
.box .detail-box li:last-child { border-bottom: 0; }
/* line 447, ../scss/style/_main2.scss */
.box .detail-box li:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; background: #f7f7f7; }
/* line 454, ../scss/style/_main2.scss */
.box .item-box { border-bottom: 1px dashed #d2d2d2; }
/* line 456, ../scss/style/_main2.scss */
.box .item-box a { display: block; color: #858585; }
/* line 459, ../scss/style/_main2.scss */
.box .item-box a:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; color: #3e9968; }

/* AKHIR ASIDE */
/* BAGIAN KONTEN PRODUK UNGGULAN*/
/* line 470, ../scss/style/_main2.scss */
#produk { margin: 5px 0 20px 0; }

/* AKHIR KONTEN PRODUK UNGGULAN*/
/*  BAGIAN FOOTER  */
/* line 480, ../scss/style/_main2.scss */
footer { border-top: solid 6px #3e9968; color: #ababab; }
/* line 485, ../scss/style/_main2.scss */
footer h3 { color: #3e9968; border-bottom: 1px solid #858585; padding: 0 0 5px 0px; }
/* line 493, ../scss/style/_main2.scss */
footer .tautan ul { margin-top: 5px; padding-top: 4px; }
/* line 497, ../scss/style/_main2.scss */
footer .tautan ul li { border-bottom: 1px dotted #858585; }
/* line 502, ../scss/style/_main2.scss */
footer .tautan a { padding: 5px 0; color: #ababab; }
/* line 506, ../scss/style/_main2.scss */
footer .tautan a:hover { -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; color: #FFcc00; text-decoration: underline; }
/* line 514, ../scss/style/_main2.scss */
footer #footer-top { background: #505050; padding: 15px 0; }
/* line 515, ../scss/style/_main2.scss */
footer #footer-top p { text-align: left; padding-top: 15px; }
/* line 524, ../scss/style/_main2.scss */
footer #footer-bottom { background: #313131; font-size: .9em; padding: 10px 0; }
/* line 525, ../scss/style/_main2.scss */
footer #footer-bottom p { text-align: center; color: #ffffff; }

/* AKHIR FOOTER */
@media screen and (max-width: 768px) { /* line 5, ../scss/style/_responsive.scss */
  audio { display: none; }
  /* line 8, ../scss/style/_responsive.scss */
  #kotak { width: 70%; }
  /* line 12, ../scss/style/_responsive.scss */
  #headline { margin: 0; margin-bottom: 15px; }
  /* line 16, ../scss/style/_responsive.scss */
  .awan-latar { display: none; }
  /* line 19, ../scss/style/_responsive.scss */
  .logo { visibility: hidden; width: 50px; }
  /* line 25, ../scss/style/_responsive.scss */
  #header .logo { display: block; visibility: visible; width: 70px; float: none; margin: auto; }
  /* line 32, ../scss/style/_responsive.scss */
  #header h1 { clear: both; }
  /* line 36, ../scss/style/_responsive.scss */
  #slider { display: none; }
  /* line 40, ../scss/style/_responsive.scss */
  section { margin-bottom: 15px !important; }
  /* line 43, ../scss/style/_responsive.scss */
  section article img { display: none !important; }
  /* line 48, ../scss/style/_responsive.scss */
  .zeen-4, .zeen-8 { float: left; width: 100%; margin: 0; }
  /* line 55, ../scss/style/_responsive.scss */
  #footer-top .kontak, #footer-top .tautan, #footer-top .polling { margin-bottom: 20px; }
  /* line 60, ../scss/style/_responsive.scss */
  #header { text-align: center; }
  /* line 61, ../scss/style/_responsive.scss */
  #header .bungkus { padding: 0; }
  /* line 65, ../scss/style/_responsive.scss */
  #header h1 { font-size: 24px; line-height: 25px; }
  /* line 69, ../scss/style/_responsive.scss */
  #header h1 span { display: block; font-size: 16px; font-weight: 100; }
  /* line 76, ../scss/style/_responsive.scss */
  nav { display: block; }
  /* line 81, ../scss/style/_responsive.scss */
  nav a { padding: 15px 20px; display: block; color: #ffffff; }
  /* line 87, ../scss/style/_responsive.scss */
  nav #resp-menu { display: block; background: url("../img/nav-icon.png") no-repeat center left; padding: 25px 0; }
  /* line 102, ../scss/style/_responsive.scss */
  nav ul li { float: none; }
  /* line 103, ../scss/style/_responsive.scss */
  nav ul li a { padding: 8px; }
  /* line 107, ../scss/style/_responsive.scss */
  nav ul li > ul { border: none; box-shadow: none; display: block; position: relative; }
  /* line 113, ../scss/style/_responsive.scss */
  nav ul li > ul li { border: none; }
  /* line 115, ../scss/style/_responsive.scss */
  nav ul li > ul li > a { padding: 8px 8px 8px 25px; background: rgba(255, 0, 255, 0); }
  /* line 120, ../scss/style/_responsive.scss */
  nav ul li > ul li ul { position: relative; left: 0; }
  /* line 122, ../scss/style/_responsive.scss */
  nav ul li > ul li ul li > a { padding: 8px 8px 8px 40px; }
  /* line 138, ../scss/style/_responsive.scss */
  #landing header { margin-bottom: 50px; } }
