.komentar{
	.title{
		margin-top: 20px;
	    font-size: 18px;
	    border-bottom: 0;
	}
	.comment{

		margin: 25px 0px;
		a{
			color: #555;
		    font-weight: bold;
		    border: 0px !important;
		}
		.avatar{
			@include transition-duration(0.5s);
			margin-top: 5px;
		    margin-right: 15px;
		    max-width: 70px !important;
		    border-radius: 100px;
		    opacity: 0.5;
		}
		&:hover{
			@include transition-duration(0.5s);
			.avatar{
				opacity: 1;
			}
		}
	}
	.comment-author a{
		color:$hijau;
	}
	.cmeta{
		color:#c1c1c1;
	}
	.reply{
		margin-left: 75px !important;
	}
}


.respond{
	background: #eee;
	padding:15px;
	.title{
		padding-bottom: 10px;
		font-size: 1.3em;
		color:#444;
		border-bottom: solid 1px #ddd;
		margin-bottom: 15px;
	}
}
.field{
	position: relative;
    max-width: 100%;
    margin-bottom: 10px;
    vertical-align: middle;
    // font-size: 16px;
    overflow: hidden;
    label{
    	 display: block;
	    line-height: 1.625em;
	    cursor: pointer;
	    margin-bottom: 5px;
    }
    input,textarea{
    	min-width: 90% !important;
	    height: 25px;
	    outline: none;
	    border: 0;
	    border: 1px solid #DDDDDD;
	    border-radius: 3px;
	    padding:3px 10px;
    }
    textarea{
    	height: 100px;
    }

}