#landing{

	position: relative;
	height: 100vh;
	background: image-url('bg-landing.jpg') top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	h1{
		color:$biru;
		margin-top:-36px;
		// margin-bottom: 15px;
		font-size: 20px;
		line-height: 25px;
		span{
			display: block;
			color:darken(#aaa,10%);
			font-size: 12px;
			font-weight: 100;
		}
	}
	z-index: -2;
}

#togglepause{
	position: absolute;
	right: 20px;
	top:20px;

	background: #f29e0d;
	border:0;
	color:#fff;
	padding: 0 10px 0 0;
	// padding:5px;
	
	outline: 0;     
    outline-style: none;     
    outline-width: 0; 
    // @include box-shadow(0 -2px 0 darken(#f29e0d,10%) inset);
    @include transition-duration(0.5s);
    &:hover{
    	background: darken(#f29e0d,10%);
    }
    @include text-shadow(0 1px 2px lighten(#444,10%));
	i{
		// @include box-shadow(0 -2px 0 darken(#fff,50%) inset);
		@include text-shadow(0 1px 1px lighten(#444,10%));
		padding: 8px;
		background: darken(#f29e0d,10%);
		color:#fff;
		margin-right: 5px;
		// padding:10px;
		// @include border-radius(100%);
		// @include background-image(linear-gradient(#fff,lighten(#eee,1%)));
		// @include box-shadow(0 -2px 3px #ddd inset);
	}
	&:before{
		content:"";
		display: block;
		position: absolute;
		top: -3px;
		right: -3px;
		bottom: -3px;
		left: -3px;
		background: rgba(#fff,0.3);
		z-index: -1;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	}

}

#kotak{
	margin-top: 100px;
	position: relative;
	background: #fff;
	width: 50%;
	margin:auto;
	header{
		@include background-image(linear-gradient(#fff,lighten(#eee,1%)));
		@include box-shadow(0 -2px 3px #ddd inset);
		padding-bottom: 15px;
	}
	section{
		display: block;
	}
	footer{
		color:#444;
		padding:15px;
		display: block;
		border-top:none !important;
		// @include background-image(linear-gradient(lighten(#eee,5%),#eee));
		background: #eee;
		@include box-shadow(0 1px 5px #ddd inset);
	}
	&:before{
		content:"";
		display: block;
		position: absolute;
		top: -10px;
		right: -10px;
		bottom: -10px;
		left: -10px;
		background: rgba(#fff,0.3);
		z-index: -1;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	}
}

.logo{
	margin: auto;
	display: block;
	top:-50px;
	position: relative;
	width: 70px;
	height: 80%;
}

.btn{
	background: #fff;
	overflow: hidden;
	padding:25px 50px 20px 50px;
	display: inline-block;
	@include border-radius(100%);
	position: relative;
	top:-40px;
	margin-bottom: -40px;
	a{
		@include transition-duration(0.2s);
		font-weight: bold;
		color:#444;
		font-size: 28px;
		line-height: 30px;
		&:hover{
			color: $hijau;
		}
		span{
			font-weight: normal;
			color:#aaa;
			display: block;
			font-size: 12px;
			line-height: 15px;
		}
	}
	
}

#awan {
   position:relative; overflow:hidden; width:950px; height:250px;
}
.awan-viewport {
    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.awan-latar {
    position: absolute;
    top:0;
}