$hitam 		: #000000;
$text-hitam : #3f3f3f;
$text-gray 	: #858585;
$putih 		: #ffffff;
$merah 		: #DA5D5D;
$biru  		: #2F327F;
$merah		: #d74848;
$hijau 		: #3e9968;
$kuning		: #FFcc00;
$biru		: #2B5284

